# Nombre del flujo de trabajo
name: Integracion Continua Java

# ¿Cuándo se ejecuta? Al hacer 'push' o 'pull request' en la rama principal
on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    # Sistema operativo de la máquina virtual que nos presta GitHub
    runs-on: ubuntu-latest

    steps:
    # 1. Copia el código del repositorio a la máquina virtual
    - name: Descargar codigo del repo
      uses: actions/checkout@v4

    # 2. Instala Java (JDK 17 es la versión estándar actual)
    - name: Configurar JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    # 3. Compila el código y ejecuta los tests de JUnit
    - name: Compilar y Ejecutar Tests con Maven
      run: mvn -B test
